body
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

canvas
{
	-moz-box-shadow: 0 0 8px #62cc00;
	-webkit-box-shadow: 0 0 8px #62cc00;
	box-shadow: 0 0 8px #62cc00;
	/*border: 1px solid #06C;*/
	position: relative;
}
h1,p
{
	font-size: 12px;
	font-family: 'Serif';
	color: #9a20a5;
}
.c
{
	color: #e2ab1e;
}
.o1
{
	color: #9ead2b;
}
.l1
{
	color: #28d150;
}
.o2
{
	color: #5bdda9;
}
.r
{
	color: #37b3da;
}
.f
{
	color: #2044ff;
}
.u
{
	color: #9111e6;
}
.l2
{
	color: #e21791;
}