.baseRow {
	width: 10px;
	font-size: 9px;
}

p {
	-webkit-margin-before: 1px;
	-webkit-margin-after: 1px;
}

div {
	margin: 0;
	float: left;
}

body {
	background: black;
	color: rgb(4, 221, 4);
	font-family: 'consolas';
}